<p id="notice"><%= notice %></p>

<h1>Orden Repuestos</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Encargado</th>
      <th>Proveedor</th>
      <th>Observaciones</th>
      <th>Vehiculo placa</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orden_repuestos.each do |orden_repuesto| %>
      <tr>
        <td><%= orden_repuesto.fecha %></td>
        <td><%= orden_repuesto.encargado %></td>
        <td><%= orden_repuesto.proveedor %></td>
        <td><%= orden_repuesto.observaciones %></td>
        <td><%= orden_repuesto.vehiculo_placa %></td>
        <td><%= link_to 'Show', orden_repuesto %></td>
        <td><%= link_to 'Edit', edit_orden_repuesto_path(orden_repuesto) %></td>
        <td><%= link_to 'Destroy', orden_repuesto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Orden Repuesto', new_orden_repuesto_path %>
