<p id="notice"><%= notice %></p>

<h1>Órdenes de Repuestos</h1>

<script>

  $(document).ready(function() {
    $('#tabla-repuestos').DataTable();
  } );

</script>

<table id="tabla-repuestos" class="display" width="100%">
  <thead>
    <tr>
      <th>Fecha</th>
      <th>Encargado</th>
      <th>Proveedor</th>
      <th>Observaciones</th>
      <th>Vehiculo placa</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orden_repuestos.each do |orden_repuesto| %>
      <tr>
        <td><%= orden_repuesto.fecha %></td>
        <td><%= orden_repuesto.encargado %></td>
        <td><%= orden_repuesto.proveedor %></td>
        <td><%= orden_repuesto.observaciones %></td>
        <td><%= orden_repuesto.vehiculo_placa %></td>
        <td><%= link_to 'Mostrar', orden_repuesto %>
        <%= link_to 'Editar', edit_orden_repuesto_path(orden_repuesto) %>
        <%= link_to 'Eliminar', orden_repuesto, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Orden de repuestos', new_orden_repuesto_path, class: "btn btn-default" %>
