

  <%= form_for(vehiculo, :builder => Judge::FormBuilder) do |f| %>
      <% if vehiculo.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(vehiculo.errors.count, "error") %> prohibited this vehiculo from being saved:</h2>

            <ul>
              <% vehiculo.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="row">

        <div class="col-md-8">

          <div class="form-group">

            <label for="vehiculo_placa">Placa: </label>
            <%= f.text_field :placa, placeholder: "Si el vehículo posee 3 digitos en su placa, anteponer el 0", class: "form-control", :maxlength => "8", 'data-validation' => 'custom', 'data-validation-regexp' => '^[A-Z][A-Z][A-Z][-][0-9]{4}$'%>

          </div>

        </div>


      </div>

      <div class="row">

        <div class="form-group col-md-6">

          <label for="vehiculo_nro_chasis">Nro. Chasis: </label>
          <%= f.text_field :nro_chasis, class: "form-control" %>

        </div>


      </div>

      <div class="row">

        <div class="form-group col-md-6">

          <label for="vehiculo_marca">Marca: </label>
          <%= f.text_field :marca, class: "form-control" %>

        </div>


      </div>

      <div class="row">

        <div class="form-group col-md-6">

          <label for="vehiculo_modelo">Modelo: </label>
          <%= f.text_field :modelo, class: "form-control" %>

        </div>


      </div>

      <div class="row">

        <div class="form-group col-md-4">

          <label for="vehiculo_color">Color: </label>
          <%= f.text_field :color, class: "form-control", :maxlength => "15" %>

        </div>

      </div>

      <div class="row">

        <div class="form-group col-md-4">

          <label for="vehiculo_cilindraje">Cilindraje: </label>
          <%= f.text_field :cilindraje, class: "form-control", :maxlength => "5" %>

        </div>

      </div>

      <div class="row">

        <div class="form-group col-md-4">

          <label for="vehiculo_traccion">Tracción: </label>
          <%=	 f.select :traccion, options_for_select([["4x2", "4x2"], ["4x4", "4x4"]]) , {}, {class: "form-control"} %>

        </div>

      </div>

      <div class="row">

        <div class="form-group col-md-4">

          <label for="vehiculo_tipo">Tipo: </label>
          <%= f.select :tipo, options_for_select([["Sedan", "Sedan"], ["Hatchback", "Hatchback"], ["Camioneta", "Camioneta"], ["Camión", "Camion"], ["Buseta", "Buseta"], ["Todoterreno", "Todoterreno"], ["Bus", "Bus"] ]), {}, {class: "form-control"}  %>

        </div>

      </div>

      <div class="row">

        <div class="form-group col-md-4">

          <label for="vehiculo_anio">Año: </label>
          <%= f.text_field :anio, in: 1900..3000, class: "form-control", :maxlength => "4", 'data-validation'=> 'length', 'data-validation-length' => 'max4' %>

        </div>

      </div>


      <div class="row">

        <div class="form-group col-md-4">

          <label for="vehiculo_kilometraje">Kilometraje: </label>
          <%= f.text_field :kilometraje, class: "form-control", :maxlength => "6", 'data-validation'=> 'length', 'data-validation-length' => 'max6' %>

        </div>

      </div>

      <div class="row">

        <div class="form-group col-md-4">

          <label for="vehiculo_capacidadPasajeros">Capacidad de pasajeros: </label>
          <%= f.text_field :capacidadPasajeros, placeholder: "Max. 50", class: "form-control", :maxlength => "2", 'data-validation' => 'number', 'data-validation-allowing' => 'range[1;50]' %>

        </div>
      </div>

      <div class="row">

        <div class="form-group col-md-4">

          <label for="vehiculo_capacidadCarga">Capacidad de carga: </label>
          <%= f.text_field :capacidadCarga, placeholder: "Defina en Kilogramos", class: "form-control", :maxlength => 4, 'data-validation' => 'number', 'data-validation-allowing' => 'range[1;9999]' %>

        </div>
      </div>

      <div class="row">

        <div class="form-group col-xs-9">

          <label for="vehiculo_observaciones">Observaciones: </label>
          <%= f.text_area :observaciones, class: "form-control", rows:"3" %>

        </div>


      </div>

      <div class="form-group">
        <label for="vehiculo_avatars">Imágenes: </label>
        <%= f.file_field :avatars, multiple: true, 'data-validation' => 'length mime',
                         'data-validation-allowing' => 'jpg, png, gif',
                         'data-validation-length' => 'max5',
                         'data-validation-error-msg' => 'Solo se puede subir máximo 5 imágenes' %>
      </div>

      <div class="actions">
        <%= f.submit "Guardar vehículo", class: "btn btn-default" %>
      </div>
  <% end %>



<script>

  $.validate({
    lang: 'es'
  });

</script>