<%= bootstrap_form_for(factura) do |f| %>
  <% if factura.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% factura.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.text_field :emisor %>
  </div>

  <div class="field">

    <%= f.text_field :numero, label: "Número", :maxlength => "8", 'data-validation' => 'number' %>
  </div>

  <div class="field">

    <%= f.text_field :id_orden_combustible, label: "Nro. Orden de Combustible", placeholder: "Ingrese el número de orden" %>

  </div>

  <div class="field">

    <%= f.text_field :id_orden_respuesto, label: "Nro. Orden de Repuesto", placeholder: "Ingrese el número de orden"%>


  </div>

  <div class="field">

    <%= f.text_field :id_orden_mantenimiento, label: "Nro. Orden de Mantenimiento", placeholder: "Ingrese el número de orden"%>
  </div>

  <div class="field">

    <%=	 f.file_field :avatar, label: "Imagen" %>
  </div>

  <div class="actions">
    <%= f.submit "Guardar Factura" %>
  </div>
<% end %>

<script>

  $.validate({
    lang: 'es'
  });

</script>