<p id="notice"><%= notice %></p>

<h1>Facturas</h1>

<table class="table table-responsive">
  <thead>
    <tr>
      <th>Emisor</th>
      <th>Numero</th>
      <th>Id orden combustible</th>
      <th>Id orden respuesto</th>
      <th>Id orden mantenimiento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @facturas.each do |factura| %>
      <tr>
        <td><%= factura.emisor %></td>
        <td><%= factura.numero %></td>
        <td><%= factura.id_orden_combustible %></td>
        <td><%= factura.id_orden_respuesto %></td>
        <td><%= factura.id_orden_mantenimiento %></td>
        <td><%= link_to 'Show', factura %></td>
        <td><%= link_to 'Edit', edit_factura_path(factura) %></td>
        <td><%= link_to 'Destroy', factura, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Ingresar Factura', new_factura_path, class: "btn btn-default" %>
