
<div class="row">

  <div class="col-xs-6 col-md-4">

    <div class="panel panel-default">

      <div class="panel-heading">

        Factura Nro. <%=	 @factura.numero %>

      </div>

      <ul class="list-group">

        <li class="list-group-item">

          Emisor: <%=	 @factura.emisor %>

        </li>

        <li class="list-group-item">

          Valor Total: <%=	 @factura.valor %>

        </li>


        <li class="list-group-item">

          Nro. Orden de Combustible: <%=	 @factura.id_orden_combustible %>

        </li>

        <li class="list-group-item">

          Nro. Orden de Mantenimiento: <%=	 @factura.id_orden_mantenimiento %>

        </li>

        <li class="list-group-item">

          Nro. Orden de Repuesto: <%=	 @factura.id_orden_respuesto %>

        </li>

      </ul>

    </div>

  </div>

  <div class="col-xs-12 col-sm-6 col-md-8">

    <div class="panel panel-default">

      <div class="panel-heading">

        Imagen

      </div>

      <div class="panel-body">

        <%=	 image_tag @factura.avatar, class: "img-responsive" %>

      </div>

    </div>

  </div>

</div>


<%= link_to 'Editar', edit_factura_path(@factura), class: "btn btn-default" %> |
<%= link_to 'Regresar', facturas_path, class: "btn btn-default" %>
