<html>

<head>

  <meta content="text/html"; charset="UTF-8" http-equiv='Content-Type'>

</head>

<body>

<h2>Notificación de Prestamo</h2>
<h3>Sistema de Gestión Vehicular UTPL</h3>

<p>
  <strong>
    Estimad@ <%=	 @user.name %> <%=	 @user.last_name %>
  </strong>
</p>

<p>

  <%	 @vehiculo = Vehiculo.find_by_placa(@prestamo.vehiculo_placa) %>


  El préstamo del vehículo <%=	 @vehiculo.marca %> <%=	 @vehiculo.modelo %> con placa:  <%=	 @prestamo.vehiculo_placa %> ha sido aprobado desde: <%=	 @prestamo.fechaEntrega %>, hasta:
  <%=	 @prestamo.fechaDevolucion %>.

</p>

<p>

  Por favor ingresar al sistema e imprima la orden aprobada.

</p>

<p>

  Solicitar al encargado la entrega del vehículo dentro del plazo del préstamo.

</p>

<p>&nbsp;</p>

<div style="background-color:#ffffff;border:1px dotted #003333;padding:.8em">

  <div style="width:100%;max-width:800px">

    <img alt="UTPL" src="http://utpl.edu.ec/utplpiepagina.jpg" style="width:100%"  tabindex="0">

    <span style="font-size:12pt;font-family:'Cambria','times new roman','garamond',serif;color:#000080">NOTA DE DESCARGO:</span>

    <br>

    <p style="font-size:10pt;font-family:'Calibri',sans-serif;color:#666666;text-align:justify">

      “El contenido de este correo electrónico y/o sus anexos son de carácter confidencial y para uso exclusivo de la persona natural o jurídica a quien se dirige. Si usted no es el destinatario de esta transmisión electrónica, por favor, reenvíelo de inmediato al emisor y elimine el correo y sus anexos. Cualquier uso, reproducción, distribución, copia, o cualquier otra acción respecto del mismo deberá realizarse previa autorización de la UTPL. Este correo debe ser utilizado únicamente para fines académicos y/o administrativos de la UTPL, por lo que la universidad no es responsable de las opiniones, criterios o información que consten en este correo y que no esté relacionado con las actividades propias de la institución”.

    </p>

  </div>

</div>


</body>

</html>