<div class="page-header">
  <h1>Usuarios
    <small>Lista</small>
  </h1>
</div>
<% @users = User.all %>



<table id="tabla-usuarios" class="table table-striped" width="100%">

  <thead>
  <tr>

    <th>Cédula</th>
    <th>Nombres</th>
    <th>Apellidos</th>
    <th>Email</th>
    <th>Teléfono</th>
    <th>Cargo</th>
    <th>Departamento</th>
    <th>Estado</th>
    <th></th>

  </tr>
  </thead>

  <tbody>


  <% @users.each do |user| %>
      <tr>
        <td><%= user.cedula %></br></td>
        <td><%= user.name %><br/></td>
        <td><%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.telephone %></td>
        <td><%= user.charge %></td>
        <td><%= user.department %></td>

        <% if user.approved == false %>
            <td>Por aprobar</td>
        <% elsif user.approved == true %>
            <td>Aprobado</td>
        <% end %>

        <td>

          <div class="btn-group btn-group-sm" role="group" aria-label="...">
            <%= link_to raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'), user, class: "btn btn-default", title: "Mostrar Detalles" %>
            <%= link_to raw('<span class="glyphicon glyphicon-remove" aria-hidden="true"></span>'), user, method: :delete, data: {confirm: '¿Estás Seguro?'}, class: "btn btn-danger", title: "Eliminar" %>
            <%= link_to raw('<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>'), user, method: :post, data: {confirm: '¿Estás Seguro?'}, class: "btn btn-success", title: "Aprobar" %>

          </div>
        </td>

      </tr>

  <% end %>

  </tbody>

</table>

<br>

<script>

  $.extend($.fn.dataTable.defaults, {
    responsive: true
  });

  $(document).ready(function () {
    $('#tabla-usuarios').DataTable({

      "language": {
        "sProcessing": "Procesando...",
        "sLengthMenu": "Mostrar _MENU_ registros",
        "sZeroRecords": "No se encontraron resultados",
        "sEmptyTable": "Ningún dato disponible en esta tabla",
        "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix": "",
        "sSearch": "Buscar:",
        "sUrl": "",
        "sInfoThousands": ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst": "Primero",
          "sLast": "Último",
          "sNext": "Siguiente",
          "sPrevious": "Anterior"
        },
        "oAria": {
          "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      }
    });
  });

</script>