
<div class="panel panel-default">

  <ul class="list-group">
    <li class="list-group-item">

      <h4 class="list-group-item-heading">Cédula: </h4>
      <p> <%=	 @user.cedula %> </p>

    </li>

    <li class="list-group-item">

      <h4  class="list-group-item-heading">Nombres: </h4>
      <p> <%=	 @user.name %> </p>

    </li>

    <li class="list-group-item">

      <h4 class="list-group-item-heading">Apellidos: </h4>
      <p> <%=	 @user.last_name %> </p>

    </li>

    <li class="list-group-item">

      <h4 class="list-group-item-heading">Email </h4>
      <p>  <%=	 @user.email %> </p>

    </li>

    <li class="list-group-item">

      <h4 class="list-group-item-heading">Teléfono: </h4>
      <p>  <%=	 @user.telephone %> </p>

    </li>

    <li class="list-group-item">

      <h4 class="list-group-item-heading">Cargo: </h4>
      <p> <%=	 @user.charge %> </p>

    </li>

    <li class="list-group-item">

      <h4 class="list-group-item-heading">Departamento: </h4>
      <p> <%=	 @user.department %> </p>

    </li>


  </ul>

</div>