<p id="notice"><%= notice %></p>

<h1>Choferes</h1>

<script>

  $(document).ready(function() {
    $('#tabla-choferes').DataTable();
  } );

</script>

<table id="tabla-choferes" class="display" width="100%">
  <thead>
    <tr>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Fecha Nacimiento</th>
      <th>Teléfono</th>
      <th>Tipo de Licencia</th>
      <th>Experiencia</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chofers.each do |chofer| %>
      <tr>
        <td><%= chofer.nombres %></td>
        <td><%= chofer.apellidos %></td>
        <td><%= chofer.fechaNacimiento %></td>
        <td><%= chofer.telefono %> </td>
        <td><%= chofer.tipoLicencia %></td>
        <td><%= chofer.experiencia %></td>
        <td><%= link_to 'Mostrar', chofer, class: "btn btn-default" %>
        <%= link_to 'Editar', edit_chofer_path(chofer), class: "btn btn-default" %>
        <%= link_to 'Eliminar', chofer, method: :delete, data: { confirm: 'Estás seguro?' }, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Chofer', new_chofer_path, class: "btn btn-default" %>
