<script>

    $(document).ready(function() {

        var url = window.location.pathname;
        console.log(url);

        if (url == '/admins/sign_in'){

            document.getElementById("link-admin").remove();
            document.getElementById("link-pass").remove();

        };

    });

</script>

<div class="jumbotron">

  <h3>Iniciar sesión</h3>

  <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, label: "Correo electrónico: " %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", label: "Contraseña:" %>
      </div>

      <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me, label: "Recordarme" %>
          </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Entrar" %>
      </div>
  <% end %>

  <% if new_user_session_path %>

      <%= render "devise/shared/links" %>


  <% end %>


</div>






