<%= bootstrap_form_for(prestamo) do |f| %>
    <% if prestamo.errors.any? %>
        <div id="error_explanation">
          <ul>
            <% prestamo.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.date_select :fechaEntrega, :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'], label: "Fecha de inicio" %>
    </div>

    <div class="field">
      <%= f.date_select :fechaDevolucion, :use_month_names => ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre','Diciembre'],selected: Date.today, min: Date.today, max: 1.year.from_now, label: "Fecha de devolución" %>
    </div>

    <div class="field">
      <%= f.text_area :razon %>
    </div>

    <div class="field">
      <%= f.text_area :observaciones %>
    </div>

    <div class="field">

      <%= f.select :vehiculo_placa,
                   Vehiculo.where(:disponibilidad => true).map{|c| ["#{c.marca}, #{c.modelo}, #{c.traccion}, #{c.capacidadPasajeros} Pax, #{c.tipo}", c.id] }, { :prompt => "Seleccione el vehículo deseado", label: "Vehículo" }
      %>

    </div>

    <div class="field">

      <div class="panel panel-default">

        <div class="panel-body">

          <%=	 f.check_box :chofer, {label: "¿Desea conductor?"}, true, false  %>

        </div>

      </div>



    </div>

    <div class="field">
      <%= f.text_field :user_cedula, :value => current_user.id, label: current_user.name + " " + current_user.last_name, :readonly => true %>

    </div>

    <div class="actions">
      <%= f.submit "Guardar Solicitud" %>
    </div>
<% end %>


<script>

  $.validate({
    lang: 'es'
  });

</script>