<p id="notice"><%= notice %></p>


<div class="page-header">
  <h1>Prestamos <small>Lista</small></h1>
</div>

<table id="tabla-prestamo" class="table table-striped" width="100%" data-filter-control="true">
  <thead>

  <tr>
    <th>Fecha Entrega</th>
    <th>Fecha Devolucion</th>
    <th>Razón</th>
    <th>Observaciones</th>
    <th>Persona</th>
    <th>Vehículo</th>
    <th>Estado</th>
    <th>Conductor</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @prestamos.each do |prestamo| %>
      <tr>
        <td><%= prestamo.fechaEntrega %></td>
        <td><%= prestamo.fechaDevolucion %></td>
        <td><%= prestamo.razon %></td>
        <td><%= prestamo.observaciones %></td>
        <td><%= prestamo.user_cedula %></td>
        <td><%= prestamo.vehiculo_placa %></td>

        <% if !prestamo.approved && !prestamo.rechazado %>
            <td>Por aprobar</td>
        <% elsif prestamo.approved && !prestamo.rechazado %>
            <td>Aprobado</td>
        <%	elsif prestamo.rechazado && !prestamo.approved%>
            <td>Rechazado</td>
        <%	 else %>
            <td>Rechazado</td>
        <% end %>

        <td>

          <%  if prestamo.chofer_cedula? %>
          <% @chofer = Chofer.find_by cedula: "#{prestamo.chofer_cedula}" %>
          <%= @chofer.nombres %> <%= @chofer.apellidos %>
          <%	 end %>

        </td>

        <td class="no-printable">


          <div class="btn-group btn-group-sm no-printable" role="group" aria-label="...">

            <%= link_to raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'), prestamo, class: "btn btn-default", title: 'Mostrar Detalles' %>

            <% if admin_signed_in? %>

                <%= link_to raw('<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>'), prestamo, method: :post, data: {confirm: 'Estás seguro?'}, class: "btn btn-success", title: 'Aprobar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
                <%= link_to raw('<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>'), prestamo, method: :put, data: {confirm: 'Estás seguro?'}, class: "btn btn-danger", title: 'Rechazar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>

                <%	 if prestamo.chofer == true %>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".<%= prestamo.id %>" title="Añadir Conductor"> <span class="glyphicon glyphicon-user"></span> </button>

                    <div class="modal fade bs-example-modal-lg <%= prestamo.id %>" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">



                          <%= bootstrap_form_for(prestamo, url: prestamo_path(prestamo.id)) do |g| %>

                              <div class="field">

                                <%= g.select :chofer_cedula,
                                             Chofer.all.map{|c| ["#{c.nombres}, #{c.apellidos}", c.cedula] }, { :prompt => "Seleccione conductor deseado", label: "Conductor" }
                                %>

                              </div>

                              <div class="actions">
                                <%= g.submit "Agregar conductor"%>
                              </div>

                          <% end %>



                        </div>
                      </div>
                    </div>

                <%	 end %>

            <% end %>

          </div>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>


<script>

    $.extend($.fn.dataTable.defaults, {
        responsive: true
    });

</script>



<% if user_signed_in? %>

    <%= link_to 'Nuevo Prestamo', new_prestamo_path, class: "btn btn-primary" %>



<% end %>




