<p id="notice"><%= notice %></p>

<h1>Prestamos</h1>

<table>
  <thead>
    <tr>
      <th>Fechaentrega</th>
      <th>Fechadevolucion</th>
      <th>Razon</th>
      <th>Observaciones</th>
      <th>Persona</th>
      <th>Vehiculo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prestamos.each do |prestamo| %>
      <tr>
        <td><%= prestamo.fechaEntrega %></td>
        <td><%= prestamo.fechaDevolucion %></td>
        <td><%= prestamo.razon %></td>
        <td><%= prestamo.observaciones %></td>
        <td><%= prestamo.persona_cedula %></td>
        <td><%= prestamo.vehiculo_placa %></td>
        <td><%= link_to 'Show', prestamo %></td>
        <td><%= link_to 'Edit', edit_prestamo_path(prestamo) %></td>
        <td><%= link_to 'Destroy', prestamo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prestamo', new_prestamo_path %>
