<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Prestamos <small>Lista</small></h1>
</div>

<table id="tabla-prestamo" class="display" width="100%">
  <thead>
  <tr>
    <th>Fecha Entrega</th>
    <th>Fecha Devolucion</th>
    <th>Razón</th>
    <th>Observaciones</th>
    <th>Persona</th>
    <th>Vehículo</th>
    <th>Estado</th>
    <th>Conductor</th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @prestamos.each do |prestamo| %>
      <tr>
        <td><%= prestamo.fechaEntrega %></td>
        <td><%= prestamo.fechaDevolucion %></td>
        <td><%= prestamo.razon %></td>
        <td><%= prestamo.observaciones %></td>
        <td><%= prestamo.user_cedula %></td>
        <td><%= prestamo.vehiculo_placa %></td>

        <% if !prestamo.approved && !prestamo.rechazado %>
            <td>Por aprobar</td>
        <% elsif prestamo.approved && !prestamo.rechazado %>
            <td>Aprobado</td>
        <%	elsif prestamo.rechazado && !prestamo.approved%>
            <td>Rechazado</td>
        <%	 else %>
            <td>Rechazado</td>
        <% end %>

        <td>

          <%  if prestamo.chofer_cedula? %>
          <% @chofer = Chofer.find_by cedula: "#{prestamo.chofer_cedula}" %>
          <%= @chofer.nombres %> <%= @chofer.apellidos %>
          <%	 end %>

        </td>

        <td>

          <div class="btn-group btn-group-sm" role="group" aria-label="...">

            <%= link_to raw('<span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>'), prestamo, class: "btn btn-default", title: 'Mostrar Detalles' %>

            <% if admin_signed_in? %>

                <%= link_to raw('<span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>'), prestamo, method: :post, data: {confirm: 'Estás seguro?'}, class: "btn btn-success", title: 'Aprobar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>
                <%= link_to raw('<span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>'), prestamo, method: :put, data: {confirm: 'Estás seguro?'}, class: "btn btn-danger", title: 'Rechazar', 'data-toggle' => 'tooltip', 'data-placement' => 'right' %>

                <%	 if prestamo.chofer == true %>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-lg" title="Añadir Conductor"> <span class="glyphicon glyphicon-user"></span> </button>

                    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">

                          <%= bootstrap_form_for(prestamo, url: prestamo_path(prestamo.id)) do |g| %>

                              <div class="field">

                                <%= g.collection_select :chofer_cedula, Chofer.all, :cedula, :nombres, :prompt => "Seleccione un conductor"
                                %>

                              </div>

                              <div class="actions">
                                <%= g.submit %>
                              </div>

                          <% end %>

                        </div>
                      </div>
                    </div>

                <%	 end %>

            <% end %>

          </div>

        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>




<% if user_signed_in? %>

    <%= link_to 'Nuevo Prestamo', new_prestamo_path, class: "btn btn-primary" %>



<% end %>

<script>

  $.extend( $.fn.dataTable.defaults, {
    responsive: true
  } );

  $(document).ready(function () {
    $('#tabla-prestamo').DataTable({

      "language": {
        "sProcessing":     "Procesando...",
        "sLengthMenu":     "Mostrar _MENU_ registros",
        "sZeroRecords":    "No se encontraron resultados",
        "sEmptyTable":     "Ningún dato disponible en esta tabla",
        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
        "sInfoPostFix":    "",
        "sSearch":         "Buscar:",
        "sUrl":            "",
        "sInfoThousands":  ",",
        "sLoadingRecords": "Cargando...",
        "oPaginate": {
          "sFirst":    "Primero",
          "sLast":     "Último",
          "sNext":     "Siguiente",
          "sPrevious": "Anterior"
        },
        "oAria": {
          "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
          "sSortDescending": ": Activar para ordenar la columna de manera descendente"
        }
      }
    });
  });

</script>


