<p id="notice"><%= notice %></p>

<p>
  <strong>Cedula:</strong>
  <%= @persona.cedula %>
</p>

<p>
  <strong>Nombres:</strong>
  <%= @persona.nombres %>
</p>

<p>
  <strong>Apellidos:</strong>
  <%= @persona.apellidos %>
</p>

<p>
  <strong>Email:</strong>
  <%= @persona.email %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @persona.departamento %>
</p>

<p>
  <strong>Cargo:</strong>
  <%= @persona.cargo %>
</p>

<%= link_to 'Edit', edit_persona_path(@persona) %> |
<%= link_to 'Back', personas_path %>
