<%= bootstrap_form_for(orden_mantenimiento) do |f| %>
  <% if orden_mantenimiento.errors.any? %>
    <div id="error_explanation">
      <ul>
      <% orden_mantenimiento.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">

    <%= f.select :vehiculo_placa,
                 Vehiculo.all.map{|c| ["#{c.marca}, #{c.modelo}, #{c.tipo}, #{c.placa}", c.id] }, { :prompt => "Seleccione el vehículo deseado", label: "Vehículo" }
    %>

  </div>


  <div class="field">

    <%=	 f.date_select :fecha %>

  </div>

  <div class="field">

    <%=	 f.text_field :proveedor %>

  </div>

  <div class="field">

    <%= f.select :tipo, options_for_select([["Preventivo", "preventivo"], ["Correctivo", "correctivo"]]) %>
  </div>

  <div class="field">
    <%= f.text_field :kilometraje, :maxlength => "6", 'data-validation' => 'number' %>
  </div>

    <div class="field">
      <%=	 f.text_area :detalle %>
    </div>

    <div class="field">
      <%= f.text_field :encargado, 'data-validation' => 'custom', 'data-validation-regexp' => '([A-Z][a-z]*)([\\s\\\'-][A-Z][a-z]*)*' %>
    </div>

    <div class="field">
      <%= f.text_field :cedula, label: "Cédula", :maxlength => "10", 'data-validation' => 'number' %>
    </div>



    <div class="field">
      <%= f.text_field :cargo %>
    </div>




  <div class="actions">
    <%= f.submit "Guardar Orden" %>
  </div>
<% end %>


<script>

  $.validate({
    lang: 'es'
  });

</script>
