

<h1>Ordenes de Mantenimiento</h1>

<p id="notice"><%= notice %></p>

<script>

  $(document).ready(function() {
    $('#tabla-ordenes-mantenimiento').DataTable();
  } );

</script>

<table id="tabla-ordenes-mantenimiento" class="display" width="100%">
  <thead>
    <tr>
      <th>Vehiculo placa</th>
      <th>Tipo</th>
      <th>Kilometraje</th>
      <th>Encargado</th>
      <th>Cédula</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @orden_mantenimientos.each do |orden_mantenimiento| %>
      <tr>
        <td><%= orden_mantenimiento.vehiculo_placa %></td>
        <td><%= orden_mantenimiento.tipo %></td>
        <td><%= orden_mantenimiento.kilometraje %></td>
        <td> <%=	 orden_mantenimiento.encargado %> </td>
        <td><%= orden_mantenimiento.cedula %></td>
        <td><%= link_to 'Mostrar', orden_mantenimiento %>
        <%= link_to 'Editar', edit_orden_mantenimiento_path(orden_mantenimiento) %>
        <%= link_to 'Eliminar', orden_mantenimiento, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nueva Orden Mantenimiento', new_orden_mantenimiento_path %>
