

<div class="printable">

  <div class="row">

    <div class="col-md-2">

    </div>

    <div class="col-xs-12 col-sm-6 col-md-8">

      <div class="panel panel-primary">

        <div class="panel-heading">

          Orden de Mantenimiento

        </div>

        <div class="panel-body">

          <img src="http://www.utpl.edu.ec/manual_imagen/images/institucional/UTPL-INSTITUCIONAL-color.jpg" width="30%" >


          <h3 class="nro-orden">

            Nro. <%= @orden_mantenimiento.id %>

          </h3>



          <div class="panel panel-default">

            <div class="panel-body">

              <h4 style="text-align: center">Detalles</h4>

            </div>

            <ul class="list-group">

              <li class="list-group-item">

                <span class="badge"> <%= @orden_mantenimiento.created_at %> </span>
                <strong>Fecha: </strong>

              </li>

              <li class="list-group-item">

                <span class="badge"> <%= @orden_mantenimiento.tipo %> </span>
                <strong>Tipo: </strong>

              </li>

              <li class="list-group-item">

                <span class="badge"> <%= @orden_mantenimiento.proveedor %> </span>
                <strong>Proveedor: </strong>

              </li>

              <li class="list-group-item">

                <span class="badge"> <%= @orden_mantenimiento.kilometraje %> </span>
                <strong>Kilometraje: </strong>

              </li>

              <li class="list-group-item">

                <strong>Detalle: </strong> <%=	 @orden_mantenimiento.detalle %>

              </li>

            </ul>

          </div>

          <div class="panel panel-default">

            <div class="panel-body">

              <h4 style="text-align: center">Vehículo</h4>

            </div>

            <% @vehiculo = Vehiculo.where(:placa => @orden_mantenimiento.vehiculo_placa) %>

            <% @vehiculo.each do |v| %>

                <li class="list-group-item">

                  <span class="badge"> <%= v.placa %> </span>
                  <strong>Placa: </strong>

                </li>

                <li class="list-group-item">

                  <span class="badge"> <%= v.marca %> </span>
                  <strong>Marca: </strong>

                </li>

                <li class="list-group-item">

                  <span class="badge"> <%= v.modelo %> </span>
                  <strong>Modelo: </strong>

                </li>

            <% end %>

          </div>

          <div class="panel panel-default">

            <div class="panel-body">

              <h4 style="text-align: center">Encargado</h4>

              <p>
                <strong>Nombres: </strong> <%=	 @orden_mantenimiento.encargado %>
              </p>

              <p>
                <strong>Cédula: </strong> <%=	 @orden_mantenimiento.cedula %>
              </p>

              <p>
                <strong>Cargo: </strong> <%=	 @orden_mantenimiento.cargo %>
              </p>

            </div>

            <div class="firma">



              <h5>&nbsp;</h5>
              <h5 style="text-align: center">_________________________</h5>
              <h5 style="text-align: center">Administrador</h5>



            </div>

          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<div class="no-printable">

  <div class="row">

    <div class="col-md-2"></div>

    <div class="col-md-8">

      <div class="panel panel-default">

        <div class="panel-body">

          <button onclick='window.print();return false;' class="btn btn-warning" title="Imprimir Orden"><span class="glyphicon glyphicon-print" aria-hidden="true"></span></button>
          <%= link_to raw('<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>'), edit_orden_mantenimiento_path(@orden_mantenimiento), class: "btn btn-default", title: "Editar" %>
          <%= link_to raw('<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>'), orden_mantenimiento_path, class: "btn btn-default", title: "Regresar" %>

        </div>

      </div>

    </div>

  </div>


</div>




