<div class="alert alert-warning" role="alert">

  <%	 @prestamos = Prestamo.all %>
  <strong>Tienes: &nbsp;</strong><%=	 @prestamos.where(:approved => false, :rechazado => false).count %><strong> &nbsp; prestamos por aprobar </strong>

</div>

<div class="alert alert-warning" role="alert">

  <%	 @users = User.all %>
  <strong>Tienes: &nbsp;</strong><%= @users.where(:approved => false).count %><strong> &nbsp; usuarios por aprobar </strong>

</div>

<div class="alert alert-warning" role="alert">

  <%	 @prestamos = Prestamo.where(:approved => true) %>
  <%=	 @prestamos.where(:fechaDevolucion => Date.today).count  %> <strong>&nbsp; Prestamo(s) finalizan hoy.</strong>

</div>

<div>


  <%	 @orden_mantenimientos = OrdenMantenimiento.all.order("vehiculo_placa desc")%>

  <%	 @orden_mantenimientos.each do |orden|%>



      <% @vehiculos= Vehiculo.where("placa = ?  AND kilometraje >= ?",orden.vehiculo_placa, orden.kilometraje + 3000) %>





   <%	 end %>

  <%	 if @vehiculos.exists? %>

      <%	 @vehiculos.each do |veh| %>




          <%=	 veh.placa %> <%=	 veh.kilometraje %>


      <%	 end %>

   <% else %>

    &nbsp;

  <%	 end %>

</div>