<!DOCTYPE html>
<html>
<head>
  <title>SGV</title>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.4/css/jquery.dataTables.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.dataTables.min.css">

  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <script src="//cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/responsive/2.1.1/js/dataTables.responsive.min.js"></script>

  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>
</head>

<header>


  <nav class="navbar navbar-default navbar-static-top">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><strong>Gestión Vehicular</strong> </a>
      </div>

      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">

          <% if user_signed_in? %>

              <li> <%= link_to 'Prestamos', prestamos_path %> </li>

          <% end %>

          <% if admin_signed_in? %>

              <li> <%= link_to 'Prestamos', prestamos_path %> </li>
              <li> <%= link_to 'Vehículos', vehiculos_path %> </li>
              <li> <%= link_to 'Choferes', chofers_path %> </li>

          <% end %>

          <% if admin_signed_in? %>

              <li><%= link_to 'Usuarios', users_path %></li>

              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Órdenes
                  <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li> <%= link_to 'Combustible', orden_combustibles_path %> </li>
                  <li role="separator" class="divider"></li>
                  <li> <%= link_to 'Mantenimiento', orden_mantenimientos_path %> </li>
                  <li role="separator" class="divider"></li>
                  <li> <%= link_to 'Repuestos', orden_repuestos_path %> </li>
                  <li role="separator" class="divider"></li>
                  <li> <%= link_to 'Ingresar Facturas', facturas_path %> </li>
                </ul>
              </li>

          <% end %>


        </ul>

        <ul class="nav navbar-nav navbar-right">
          <p class="navbar-text">


            <% if admin_signed_in? %>
                Conectado como
                <mark><%= current_admin.email %></mark>
                ¿No eres t&uacute;? &nbsp;
                <%= link_to "Salir", destroy_user_session_path, :method => :delete, class: "logof" %>
            <% else
                 if user_signed_in? %>
                    Conectado como
                    <mark><%= current_user.email %></mark>
                    No eres t&uacute;? &nbsp;
                    <%= link_to "Salir", destroy_user_session_path, :method => :delete, class: "logof" %>

                <% end %>

            <% end %>
          </p>
        </ul>
      </div>
    </div>
  </nav>

</header>

<body>

<div id="main-container" class="container">
  <div class="row">

    <% if user_signed_in? or admin_signed_in? %>

        <div>

          <% if user_signed_in? %>
              <% flash.each do |key, value| %>
                  <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <%= value %>
                  </div>
              <% end %>
          <% else %>
              <% flash.each do |key, value| %>
                  <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <%= value %>
                  </div>
              <% end %>
          <% end %>


          <%= yield %>

    <% else %>

        <div class="col-md-6 col-md-offset-3">

          <% if user_signed_in? %>
              <% flash.each do |key, value| %>
                  <div class="alert alert-success alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <%= value %>
                  </div>
              <% end %>
          <% else %>
              <% flash.each do |key, value| %>
                  <div class="alert alert-danger alert-dismissible">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                    <%= value %>
                  </div>
              <% end %>
          <% end %>


          <%= yield %>


    <% end %>




    </div>

    </div>


  </div>
</div>

</body>
</html>
